@using  ProjectTemplate.UI.ViewModels
@model IList<TaskIndexTaskViewModel>

<table>
    <tr>
        <th>
            Description
        </th>
        <th>
            AssignedTo
        </th>
        <th>
            Type
        </th>
        <th>
            DueDate
        </th>
        <th>
            Status
        </th>
        <th>
            RagStatus
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AssignedTo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DueDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RagStatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { taskId = item.TaskId }) |
            @Html.ActionLink("Complete", "Complete", new { taskId = item.TaskId }) |
            <a href="#" class="cancel-link" task-id="@item.TaskId">Cancel</a>
        </td>
    </tr>
}

</table>