@using  ProjectTemplate.UI.ViewModels
@model TaskIndexViewModel

@section JavaScript
{
    <script src="@Url.Content("~/Scripts/ProjectTemplate/TaskIndex.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ProjectTemplate/TaskIndexTask.js")" type="text/javascript"></script>
}

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using (Html.BeginForm())
{
    <div>
        <div>
            @Html.LabelFor(model => model.UserId)
            @Html.DropDownListFor(model => model.UserId, Model.Users)
        </div>
        <div>
            @Html.LabelFor(model => model.TaskTypeId)
            @Html.DropDownListFor(model => model.TaskTypeId, Model.TaskTypes)
        </div>
        <div>
            @Html.LabelFor(model => model.DueDateFrom)
            @Html.TextBoxFor(model => model.DueDateFrom)
        </div>
        <div>
            @Html.LabelFor(model => model.DueDateTo)
            @Html.TextBoxFor(model => model.DueDateTo)
        </div>
        <div>
            @Html.LabelFor(model => model.TaskStatus)
            @Html.DropDownListFor(model => model.TaskStatus, Model.TaskStatuses)
        </div>
        <div>
            <input type="submit" value="Search"/>
        </div>
    </div>
}
<div id="TaskList">
    @Html.Partial("_IndexTasks", Model.Tasks)
</div>
<p>
    @Html.ActionLink("Raise New", "Raise")
</p>


